@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color: rgb(1, 17, 27);
    --second-bg-color: rgb(11, 68, 83);
    --text-color: #ededed;
    --color: #00abf0;

}

body{
    background-color: black;
    /* background-color: var(--bg-color) ; */
    color: var(--text-color);
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; */

}
